<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<script src="/javascripts/jquery-1.8.2.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
	<script src="/javascripts/client.js"></script>
	<style>
		#rating {padding: 20px;}
		.my-container {
		  position: relative;
		  margin: 15px 0;
		  padding: 10px;
		  background-color: #fff;
		  border: 1px solid #ddd;
		  -webkit-border-radius: 4px;
		     -moz-border-radius: 4px;
		          border-radius: 4px;
		}
		.button-container {
		  position: relative;
		  margin: 15px 0;
		  padding: 5px;
		  background-color: #fff;
		  border: 1px solid #ddd;
		  -webkit-border-radius: 4px;
		     -moz-border-radius: 4px;
		          border-radius: 4px;
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<div class="page-header">
	    	<h1 style="display:inline;">Webdrobe <small>By: Wildcard, Bitches</small></h1>
	    	<p class="pull-right" style="display:inline;">Welcome, Doodman Friedrichson</p>
	    </div>
	    <div class="tabbable">
		    <ul class="nav nav-tabs">
			    <li class="active">
			    	<a data-toggle="tab" href="#tab1"><i class="icon-home"></i> Home</a>
			    </li>
			    <li><a data-toggle="tab" href="#tab2"><i class="icon-plus"></i> Add Item</a></li>
			    <li><a data-toggle="tab" href="#tab3"><i class="icon-tags"></i> Make Outfit</a></li>
			    <li><a data-toggle="tab" href="#tab4"><i class="icon-th"></i> View Wardrobe</a></li>
		    </ul>
		    <div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<div class="container">
					<div class="row">
						<div class="span2 my-container">
							<button id="recommend-btn" class="btn btn-primary btn-large btn-block" id="recommend" type="button">
								Recommend New
							</button>
							</br>
							<h3>Filter By:</h3>
							<div class="btn-group">
								<button class="btn btn-large dropdown-target1">Occasion</button>
								<button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item1" href="#">Beach</a>
									</li>
									<li>
										<a class="dropdown-item1" href="#">Formal</a>
									</li>
									<li>
										<a class="dropdown-item1" href="#">Casual</a>
									</li>
									<li>
										<a class="dropdown-item1" href="#">Holiday</a>
									</li>
									<li>
										<a class="dropdown-item1" href="#">Spring</a>
									</li>
									<li>
										<a class="dropdown-item1" href="#">Summer</a>
									</li>
									<li>
										<a class="dropdown-item1" href="#">Fall</a>
									</li>
									<li>
										<a class="dropdown-item1" href="#">Winter</a>
									</li>
								</ul>
							</div>
							</br>
							<div class="btn-group">
								<button class="btn btn-large dropdown-target2">Weather</button>
								<button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item2" href="#">Rain</a>
									</li>
									<li>
										<a class="dropdown-item2" href="#">Snow</a>
									</li>
									<li>
										<a class="dropdown-item2" href="#">Sunny</a>
									</li>
									<li>
										<a class="dropdown-item2" href="#">Windy</a>
									</li>
									<li>
										<a class="dropdown-item2" href="#">Tsunami</a>
									</li>
									<li>
										<a class="dropdown-item2" href="#">Hurricane</a>
									</li>
									<li>
										<a class="dropdown-item2" href="#">Tornado</a>
									</li>
									<li>
										<a class="dropdown-item2" href="#">Armeggedon</a>
									</li>
								</ul>
							</div>	
						</div>
						<div class="span5">
							<div class="span4 thumbnail">
								<img id="shirt" width="320" height="200" src="images/blue_oxford.jpg">
								<img id="pants" width="320" height="200" src="images/khakis.jpg">
								<div class="caption">
									<h3>Recommended Outfit</h3>
									<div id="details-text"></div>
									<div class="btn-group">
										<a id="details-btn" data-toggle="button" class="btn btn-large btn-block btn-info" href="#">Details</a>
										<a class="btn btn-large btn-block btn-success" data-toggle="button" href="javascript:void(0)"><i class="icon-heart"></i> Favorite</a>
									</div>

								</div>
							</div>
						</div>
						<div class="span2">
							<div class="btn-group btn-group-vertical button-container">
									<button data-toggle="button" class="btn btn-large btn-info"><i class="icon-thumbs-up"></i> Like</button></br>
									<a href="#" data-placement="right" rel="tooltip" title="This is our rating based on your personal preferences"><button id="rating" class="btn btn-large btn-link" id="rating">75%</button></a></br>
									<button data-toggle="button" class="btn btn-large btn-inverse"><i class="icon-thumbs-down"></i> Dislike</button>
							</div>
						</div>
					</div>
					</div>
				</div>
				<div class="tab-pane" id="tab2">
					<div class="container">
						<div class="row">
							<div class="span4">
								<form class="form">
									<legend>Upload An Image</legend>
									<span class="help-block"><p class="text-warning">Choose One</p></span>
									<div class="tabbable">
		    							<ul class="nav nav-pills">
		    								<li class="active">
			    								<a data-toggle="tab" href="#subtab1"> Web</a>
			   								</li>
			    							<li><a data-toggle="tab" href="#subtab2"> Computer</a></li>
			    							<li><a data-toggle="tab" href="#subtab3"> Camera</a></li>
			    						</ul>
			    						<div class="tab-content">
											<div class="tab-pane active" id="subtab1">
												<div class="control-group">
												    <label class="control-label" for="inputURL">Web</label>
												    <div class="controls">
													    <input type="text" id="inputURL" placeholder="Enter a URL from the Web">
													</div>
												</div>
											</div>
											<div class="tab-pane" id="subtab2">
												<div class="control-group">
												    <label class="control-label" for="inputUpload">Computer</label>
												    <div class="controls">
													    <div class="input-append">
													    	<input type="text" id="inputUpload" placeholder="Upload a file from your computer">
													    	<button class="btn"><i class="icon-picture"></i> Browse</button>
													    </div>
													    <!--ACTUAL UPLOAD FUNCTION input type="file" name="uploadField" placeholder="Upload a file from your computer"/-->
											    	</div>
										    	</div>
											</div>
											<div class="tab-pane" id="subtab3">
												<div class="control-group">
											    	<label class="control-label" for="inputPicture">Take Picture</label>
											    	<div class="controls">
												    	<button id="btn-camera" class="btn"><i class="icon-camera"></i> Camera</button>
													</div>
												</div>
											</div>
										</div>
			    					</div>


								    <!--div class="control-group">
									    <label class="control-label" for="inputURL">Web</label>
									    <div class="controls">
										    <input type="text" id="inputURL" placeholder="Enter a URL from the Web">
										</div>
									</div>
									<div class="control-group">
									    <label class="control-label" for="inputUpload">Computer</label>
									    <div class="controls">
										    <div class="input-append">
										    	<input type="text" id="inputUpload" placeholder="Upload a file from your computer">
										    	<button class="btn"><i class="icon-picture"></i> Browse</button>
										    </div>
								    	</div>
							    	</div>
							    	<div class="control-group">
									    <label class="control-label" for="inputPicture">Take Picture</label>
									    <div class="controls">
										    <button id="btn-camera" class="btn"><i class="icon-camera"></i> Camera</button>
										</div>
									</div-->
							    </form>
							    <button id="upload-btn" class="btn btn-large btn-block btn-primary"><i class="icon-upload"></i> Upload</button>

							</div>
							<div class="span4 offset1">
								<div class="thumbnail">
									<img id="upload-pic" alt="" src="http://placehold.it/320x200">
									<div class="caption">
										<h3>Tags</h3>
										<textarea></textarea>
										<button class="btn btn-large btn-block btn-success"><i class="icon-plus"></i> Save To Wardrobe</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab3">
					<div class="container-fluid">
						<div class="row">
							<div class="span3">
								<div class="row-fluid">
									<label>Filter Items</label>
									<input type="text" placeholder="Enter tags...">
									<button id="filter2" class="btn btn-large btn-block btn-info"><i class="icon-search"></i> Filter</button></br>
								</div>
								<div class="row-fluid">
									<h3>Your Outfit:</h3>
									<div id="side-images">
										<div class="thumbnail">
											<img id="upload-pic" src="http://placehold.it/240x140" alt="">
										</div>
									</div>
									</br></br>
									<button id="rate-btn" class="btn btn-large btn-block btn-success"><i class="icon-hand-right"></i> Rate This Outfit<button>
								</div>
							</div>
							<div class="span9 offset1">
								<div id="rating-location" class="row">
									<p class="lead text-info">Click Items To Add Them To Your Outfit</p>
									<ul class="thumbnails">
										<li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/black-pants.jpg">
											</a>
										</li>
										<li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/blazer.jpg">
											</a>
										</li><li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/blue-pants.jpg">
											</a>
										</li><li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/dope-sweater.jpg">
											</a>
										</li>
										<li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/blue_oxford.jpg">
											</a>
										</li>
										<li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/grey-pants.jpg">
											</a>
										</li><li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/jeans.jpg">
											</a>
										</li><li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/khakis.jpg">
											</a>
										</li><li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/pink-blazer.jpg">
											</a>
										</li>
										<li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/purple-pants.jpg">
											</a>
										</li><li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/turquoise-polo.jpg">
											</a>
										</li><li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/yellow-jacket.jpg">
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab4">
					<div class="container-fluid">
						<div class="row">
							<div class="span3">
								<div id="filter-tags" class="row-fluid">
									<label>Filter Items</label>
									<input type="text" placeholder="Enter tags...">
									<button id="filter" class="btn btn-large btn-block btn-info"><i class="icon-search"></i> Filter</button></br>
									<!--div class="alert alert-info fade in">
										<button class="close" data-dismiss="alert" type="button">×</button>
										Cool
									</div>
									<div class="alert alert-info fade in">
										<button class="close" data-dismiss="alert" type="button">×</button>
										Blue
									</div>
									<div class="alert alert-info fade in">
										<button class="close" data-dismiss="alert" type="button">×</button>
										Winter
									</div>
									<div class="alert alert-info fade in">
										<button class="close" data-dismiss="alert" type="button">×</button>
										Hipster
									</div-->
								</div>
							</div>
							<div class="span9 offset1">
								<div class="row">
									<div class="alert alert-success">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										<h4>Success</h4>
										Item successfully added to wardrobe!
    								</div>
									<ul id="filter-items" class="thumbnails">
										<li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/pink-blazer.jpg">
											</a>
										</li>
										<li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/jeans.jpg">
											</a>
										</li>
										<li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/turquoise-polo.jpg">
											</a>
										</li><li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/yellow-jacket.jpg">
											</a>
										</li>
										<li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/black-pants.jpg">
											</a>
										</li>
										<li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/blazer.jpg">
											</a>
										</li><li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/blue-pants.jpg">
											</a>
										</li><li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/dope-sweater.jpg">
											</a>
										</li>
										<li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/blue_oxford.jpg">
											</a>
										</li>
										<li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/grey-pants.jpg">
											</a>
										</li><li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/khakis.jpg">
											</a>
										</li>
										<li class="span3">
											<a class="thumbnail" href="#">
												<img alt="" src="images/purple-pants.jpg">
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
	</footer>
</body>
</html>